<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="datasources"
		label="COM_SCOUTORG_CONFIG_DATASOURCES_LABEL"
		description="COM_SCOUTORG_CONFIG_DATASOURCES_DESC"
	>
		<field name="datasources_scoutGroupSource" type="radio"
			default="scoutnet"
			description="COM_SCOUTORG_CONFIG_DATASOURCES_SCOUTGROUPSOURCE_DESC"
			label="COM_SCOUTORG_CONFIG_DATASOURCES_SCOUTGROUPSOURCE_LABEL"
		>
			<option value="scoutnet">Scoutnet</option>
			<!--<option value="composite">Composite</option>-->
		</field>
		<field name="datasources_customListsSource" type="radio"
			default="scoutnet"
			description="COM_SCOUTORG_CONFIG_DATASOURCES_CUSTOMLISTSSOURCE_DESC"
			label="COM_SCOUTORG_CONFIG_DATASOURCES_CUSTOMLISTSSOURCE_LABEL"
		>
			<option value="scoutnet">Scoutnet</option>
		</field>
		<field name="datasources_waitingListSource" type="radio"
			default="scoutnet"
			description="COM_SCOUTORG_CONFIG_DATASOURCES_WAITINGLISTSOURCE_DESC"
			label="COM_SCOUTORG_CONFIG_DATASOURCES_WAITINGLISTSOURCE_LABEL"
		>
			<option value="scoutnet">Scoutnet</option>
		</field>
	</fieldset>
	<fieldset
		name="scoutnet"
		label="COM_SCOUTORG_CONFIG_SCOUTNET_LABEL"
		description="COM_SCOUTORG_CONFIG_SCOUTNET_DESC"
	>
        <field name="scoutnet_domain" type="text"
			default="www.scoutnet.se"
			description="COM_SCOUTORG_CONFIG_SCOUTNET_DOMAIN_DESC"
			label="COM_SCOUTORG_CONFIG_SCOUTNET_DOMAIN_LABEL"
		/>
        <field name="scoutnet_groupId" type="text"
            default="0"
            description="COM_SCOUTORG_CONFIG_SCOUTNET_GROUPID_DESC"
            label="COM_SCOUTORG_CONFIG_SCOUTNET_GROUPID_LABEL"
        />
        <field name="scoutnet_memberListApiKey" type="text"
            default="S0M3TH1N653CUR3"
            description="COM_SCOUTORG_CONFIG_SCOUTNET_MEMBERLISTAPIKEY_DESC"
            label="COM_SCOUTORG_CONFIG_SCOUTNET_MEMBERLISTAPIKEY_LABEL"
        />
        <field name="scoutnet_customListsApiKey" type="text"
            default="S0M3TH1N653CUR3"
            description="COM_SCOUTORG_CONFIG_SCOUTNET_CUSTOMLISTSAPIKEY_DESC"
            label="COM_SCOUTORG_CONFIG_SCOUTNET_CUSTOMLISTSAPIKEY_LABEL"
        />
        <field name="scoutnet_cacheLifeTime" type="text"
            default="0"
            description="COM_SCOUTORG_CONFIG_SCOUTNET_CACHETTL_DESC"
            label="COM_SCOUTORG_CONFIG_SCOUTNET_CACHETTL_LABEL"
        />
	</fieldset>
    <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_scoutorg"
			section="component"
		/>
	</fieldset>
</config>
